<h1> login form: </h1>

<%= form_with model: @user, local: true do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email, required: true %><br>
  <%= form.label :password %>
  <%= form.text_field :password, required: true %><br>
  <%= form.submit "login" %>
<% end %>